In [22]:
import pandas as pd

In [23]:
movies_funcion = pd.read_parquet('../EV_PI01\movies_funcion.parquet')

In [ ]:
#Eliminamos los nulos.
#movies_funcion.dropna(axis=0, inplace=True)

In [ ]:
#Agregamos columna day para el endpoint 2.
#movies_funcion['day'] = movies_funcion['release_date'].dt.day_name()

In [ ]:
#Agregamos columna year para el endpoint 3.
#movies_funcion['year'] = movies_funcion['release_date'].dt.year

In [24]:
movies_funcion

,id_pelicula,release_date,title,popularity,vote_count,vote_average,month,day,year
0,862,1995-10-30,Toy Story,21.946943,5415.0,7.7,10,Monday,1995
1,8844,1995-12-15,Jumanji,17.015539,2413.0,6.9,12,Friday,1995
2,15602,1995-12-22,Grumpier Old Men,11.712900,92.0,6.5,12,Friday,1995
3,31357,1995-12-22,Waiting to Exhale,3.859495,34.0,6.1,12,Friday,1995
4,11862,1995-02-10,Father of the Bride Part II,8.387519,173.0,5.7,2,Friday,1995
...,...,...,...,...,...,...,...,...,...
45460,30840,1991-05-13,Robin Hood,5.683753,26.0,5.7,5,Monday,1991
45462,111109,2011-11-17,Century of Birthing,0.178241,3.0,9.0,11,Thursday,2011
45463,67758,2003-08-01,Betrayal,0.903007,6.0,3.8,8,Friday,2003
45464,227506,1917-10-21,Satan Triumphant,0.003503,0.0,0.0,10,Sunday,1917
45465,461257,2017-06-09,Queerama,0.163015,0.0,0.0,6,Friday,2017

In [ ]:
#movies_funcion.to_parquet('movies_funcion.parquet', engine='pyarrow')

In [ ]:
# Creamos la primer funcion def cantidad_filmaciones_mes(Mes): Se ingresa un mes en idioma Español. 
# Debe devolver la cantidad de películas que fueron estrenadas en el mes 
# consultado en la totalidad del dataset.

In [ ]:
# Usamos el filtro en la columna 'month' del dataset y contamos la cantidad de celdas con len()

mes_dicc = { 
    'enero': 1, 'febrero': 2, 'marzo': 3, 'abril': 4, 'mayo': 5, 'junio': 6, 'julio': 7, 
    'agosto': 8, 'septiembre': 9, 'octubre': 10, 'noviembre': 11, 'diciembre': 12 
    }

def cantidad_filmaciones_mes(Mes:str):
    num_mes = mes_dicc[Mes.lower()]
    lanzamientos_por_mes = len(movies_funcion[movies_funcion['month'] == num_mes])
    return (f'En el mes de {Mes} se hicieron {lanzamientos_por_mes} lanzamientos')

In [27]:
cantidad_filmaciones_mes('Diciembre')

'En el mes de Diciembre se hicieron 3781 lanzamientos'

In [ ]:
#Probando mascaras para hacer la misma funcion.

#mask = movies_funcion['release_date'].dt.month == 1
#mask

0        False
1        False
2        False
3        False
4        False
         ...
45462    False
45463    False
45464    False
45465    False
711      False
Name: release_date, Length: 45347, dtype: bool

In [ ]:
#movies_funcion['id_pelicula'][mask].shape[0]

5909

In [ ]:
#Podemos usar un diccionario para no tener que crear una columna nueva con los nombres de los meses en el dataset.

#mes_dicc = { 
#    'enero': 1, 'febrero': 2, 'marzo': 3, 'abril': 4, 'mayo': 5, 'junio': 6, 'julio': 7, 
#    'agosto': 8, 'septiembre': 9, 'octubre': 10, 'noviembre': 11, 'diciembre': 12 
#    }

In [ ]:
#mes_dicc['Enero'.lower()]

1

In [ ]:
#dias_dicc = { 
#    'lunes': 1, 'martes': 2, 'miercoles': 3, 'jueves': 4, 'viernes': 5, 'sabado': 6, 'domingo': 7 
#    }

In [ ]:
# Para el punto dos tenemos que saber que dia de la semana corresponde a cada fecha en el dataset. 
# Se propone hacer una columna que directamente tengo el nombre del dia de la semana.

In [ ]:
#movies_funcion.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45346 entries, 0 to 45465
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_pelicula   45346 non-null  object
 1   release_date  45346 non-null  datetime64[ns]
 2   title         45346 non-null  object
 3   popularity    45346 non-null  float64
 4   month         45346 non-null  float64
 5   day           45346 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 2.4+ MB

In [ ]:
#movies_funcion['release_date'].dt.day_name()

0          Monday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
45460      Monday
45462    Thursday
45463      Friday
45464      Sunday
45465      Friday
Name: release_date, Length: 45346, dtype: object

In [28]:
dias_dicc = { 
    'lunes': 'Monday', 'martes': 'Tuesday', 'miercoles': 'Wednesday', 'jueves': 'Thursday', 
    'viernes': 'Friday', 'sabado': 'Saturday', 'domingo': 'Sunday' 
    }

In [37]:
def cantidad_filmaciones_dia(Dia:str):
    Dia_traducido = dias_dicc[Dia.lower()]
    lanzamientos_por_dia = len(movies_funcion[movies_funcion['day'] == Dia_traducido])
    return (f'En el dia {Dia} se hicieron {lanzamientos_por_dia} estrenos.')

In [38]:
cantidad_filmaciones_dia('Lunes')

'En el dia Lunes se hicieron 3500 estrenos.'

In [ ]:
# Para el punto 3.
# def score_titulo( titulo_de_la_filmación ): Se ingresa el título de una 
# filmación esperando como respuesta el título, el año de estreno y el score.

In [31]:
titulo = 'Jumanji'

In [32]:
movies_funcion[movies_funcion['title'] == titulo][['title','year','popularity']]

     title  year  popularity
1  Jumanji  1995   17.015539

In [171]:
#Esta funcion fue mejorada por la siguiente.

#def score_titulo( titulo_de_la_filmacion: str ):
#    Titulo = movies_funcion[movies_funcion['title'] == titulo_de_la_filmacion][['title','year','popularity']].iloc[0,0]
#    Year = movies_funcion[movies_funcion['title'] == titulo_de_la_filmacion][['title','year','popularity']].iloc[0,1]
#    Popularity = movies_funcion[movies_funcion['title'] == titulo_de_la_filmacion][['title','year','popularity']].iloc[0,2]
#    return {"Titulo": Titulo, "Ano de lanzamiento": Year, 'Puntaje': Popularity}

In [ ]:
'''def score_titulo(titulo_de_la_filmacion: str):
    # Filtrar las filas que coinciden con el titulo
    titulo_de_la_filmacion = titulo_de_la_filmacion.lower()
    filtro = movies_funcion[movies_funcion['title'].str.lower() == titulo_de_la_filmacion]

    # Verificar si el filtro no esta vacio
    if not filtro.empty:
        Titulo = filtro['title'].iloc[0]
        Year = filtro['year'].iloc[0]
        Popularity = filtro['popularity'].iloc[0]
        return {"Titulo": Titulo, "Ano de lanzamiento": str(Year), 'Puntaje': str(Popularity)}
    else:
        return {"error": "No se encontro titulo"}'''

In [ ]:
def score_titulo(titulo_de_la_filmacion: str):
    # Filtrar las filas que coinciden con el titulo
    titulo_de_la_filmacion = titulo_de_la_filmacion.lower()
    filtro = movies_funcion[movies_funcion['title'].str.lower() == titulo_de_la_filmacion]

    # Verificar si el filtro no esta vacio
    if not filtro.empty:
        Titulo = filtro['title'].iloc[0]
        Year = filtro['year'].iloc[0]
        Popularity = filtro['popularity'].iloc[0]
        return (f'La pelicula {Titulo}, fue estrenada en el año {Year} y tiene un puntaje de {Popularity}')
    else:
        return ("Error, no se encontro titulo")

In [52]:
score_titulo('Minions')

'La pelicula Minions, fue estrenada en el año 2015 y tiene un puntaje de 547.488298'

In [34]:
movies_funcion

,id_pelicula,release_date,title,popularity,vote_count,vote_average,month,day,year
0,862,1995-10-30,Toy Story,21.946943,5415.0,7.7,10,Monday,1995
1,8844,1995-12-15,Jumanji,17.015539,2413.0,6.9,12,Friday,1995
2,15602,1995-12-22,Grumpier Old Men,11.712900,92.0,6.5,12,Friday,1995
3,31357,1995-12-22,Waiting to Exhale,3.859495,34.0,6.1,12,Friday,1995
4,11862,1995-02-10,Father of the Bride Part II,8.387519,173.0,5.7,2,Friday,1995
...,...,...,...,...,...,...,...,...,...
45460,30840,1991-05-13,Robin Hood,5.683753,26.0,5.7,5,Monday,1991
45462,111109,2011-11-17,Century of Birthing,0.178241,3.0,9.0,11,Thursday,2011
45463,67758,2003-08-01,Betrayal,0.903007,6.0,3.8,8,Friday,2003
45464,227506,1917-10-21,Satan Triumphant,0.003503,0.0,0.0,10,Sunday,1917
45465,461257,2017-06-09,Queerama,0.163015,0.0,0.0,6,Friday,2017

In [48]:
# Enpoint 4: Se ingresa el título de una filmación esperando como respuesta el título, la cantidad de votos y el 
# valor promedio de las votaciones. La misma variable deberá de contar con al menos 2000 valoraciones, 
# caso contrario, debemos contar con un mensaje avisando que no cumple esta condición y que por ende, 
# no se devuelve ningun valor.

def votos_titulo( titulo_de_la_filmacion ):
    titulo_de_la_filmacion = titulo_de_la_filmacion.lower()
    filtro = movies_funcion[movies_funcion['title'].str.lower() == titulo_de_la_filmacion]

    # Verificar si el filtro no esta vacio
    if not filtro.empty:
        Titulo = filtro['title'].iloc[0]
        Cant_votos = filtro['vote_count'].iloc[0]
        Prom_votos = filtro['vote_average'].iloc[0]
        if Cant_votos >= 2000:
            return (f'La pelicula {Titulo}, cuenta con un total de {Cant_votos} valoraciones, con un promedio de {Prom_votos}')
        else:
            return (f'La pelicula {Titulo} no cumple con el minimo de 2000 valoraciones')
    else:
        return ("Error, no se encontro titulo")

In [56]:
votos_titulo('Sabrina')

'La pelicula Sabrina no cumple con el minimo de 2000 valoraciones'

In [55]:
movies_funcion['title'][movies_funcion['vote_count'] <= 2000]

2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
5                               Heat
6                            Sabrina
                    ...
45460                     Robin Hood
45462            Century of Birthing
45463                       Betrayal
45464               Satan Triumphant
45465                       Queerama
Name: title, Length: 44834, dtype: object